<% include dbhead %>
<body>
    <div class="main-container">
    <% include navbar %>
        <div class="small-container">
            <div class="label">
            employees
            </div>
            <br>
            <div class="database">
                <div class="data-col">
                    <div class="table-headers">
                        id<hr>
                    </div>
                <%= user_id %>
                </div>
                <div class="data-col">
                    <div class="table-headers">
                        first name<hr>
                    </div>
                <%= first_name %>
                </div>
                <div class="data-col">
                    <div class="table-headers">
                        last name<hr>
                    </div>
                <%= last_name %>
                </div>
                <div class="data-col">
                    <div class="table-headers">
                        email<hr>
                    </div>
                <%= email %>
                </div>
                <div class="data-col">
                    <div class="table-headers">
                        role<hr>
                    </div>
                <%= role %>
                </div>
                <div class="data-col">
                    <div class="table-headers">
                        status<hr>
                    </div>
                <%= status %>
                </div>
            </div>
        </div>
    </div>
</body>
</html>